/* General styles */
:root {
    --primary-color: #333;
    --secondary-color: #ccc;
    --font-family: Arial, sans-serif;
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 1rem;
}

h2 {
    margin-top: 0;
}

table {
    border-collapse: collapse;
    margin-bottom: 1rem;
    width: 100%;
}

th,
td {
    border: 1px solid var(--secondary-color);
    padding: 0.5rem;
    text-align: center;
}

thead {
    background-color: #f2f2f2;
}

tfoot {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="tel"],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    width: 90%;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 60px;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}

th,
td {
    border: 1px solid var(--secondary-color);
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tfoot td {
    font-weight: bold;
}

input[readonly] {
    background-color: #f2f2f2;
}

button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.container {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: #f5f5f5;
}

.logo-image {
    height: auto;
    max-height: 70px;
    border-radius: 50%;
}

.download-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.download {
    text-align: center;
    margin-left: 10px;
}

.download a {
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.download a:hover {
    background-color: #444;
}

.add-item-btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 4px 2px;
}

.add-item-btn:hover {
    background-color: #45a049;
}

.remove-item-btn {
    background-color: #c31609;
    /* Red */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px 20px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.remove-item-btn:hover {
    background-color: #ea1f1f;
    /* Light red */
}

.date-picker {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    width: 100%;
}

.form-select {
    display: block;
    width: 92%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.stamp-container {
    position: relative;
    display: inline-block;
}

.signature {
    position: absolute;
    bottom: 35%;
    left: 30%;
    width: 60%;
    transform: rotate(352deg);
}

#stampSignature {
    position: absolute;
    bottom: 0;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#stampImage {
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
}

#signatureImage {
    width: 150px;
    height: 50px;
}